<section class="side-nav" id="path2">
	<div class="poolViewOptions" ng-controller="PoolController">
    <img src="../../../static/assets/globe.png" type="button" ng-click="filterRegions()" class="side-nav-button" ng-show="view === '/pool'"/>
    <img src="../../../static/assets/question.png" type="button" ng-intro-options="IntroOptions" ng-intro-method="CallMe" ng-click="CallMe()" class="side-nav-button" ng-show="view === '/pool'"/>

    <img src="../../../static/assets/rocket.png" type="button" class="md-raised md-primary side-nav-button" ng-show="view === '/self'"/>
    <img src="../../../static/assets/question.png" type="button"   ng-intro-options="IntroOptions" ng-click="CallMe()" ng-intro-method="CallMe" class="side-nav-button" ng-show="view === '/self'"/>
  </div>
</section>


