<div class="header">
  <div class="greetings">
    <div class='user-greeting'>Hello, {{ user_first_name }}</div>
  </div>

  <div class="view-selection">
    <div class="viewforpool" ng-show="onpoolpage === true;">
      <md-button ng-disabled="true" class="md-raised md-primary">Get Relatives</md-button>
    	<md-button class="md-raised" ng-click="getSelf()">Get my own info</md-button>
    </div>

    <div class="viewforself" ng-show="onpoolpage === false;">
      <md-button class="md-raised" id="helix-path-6" ng-click="getRelatives()">Get Relatives</md-button>
      <md-button ng-disabled="true" class="md-raised md-primary">Get my own info</md-button>
    </div>
  </div>

  <div class="header-options">
    <div class="helpbtn">
      <img src="../../../static/assets/question.png" type="button" title="Help" ng-intro-options="IntroOptions" ng-click="CallMe()" class="side-nav-button"  ng-intro-method="CallMe" ng-show="view === '/pool'"/>
      <img src="../../../static/assets/question.png" type="button" id="helix-path-7" title="Help" ng-intro-autostart="true" ng-intro-options="IntroOptions" ng-click="CallMe()" ng-intro-method="CallMe" class="side-nav-button" ng-show="view === '/self'"/>
    </div>

    <div class="signout" ng-controller="AuthController">
    <md-button class="md-warn md-raised md-hue-2" ng-click="signOut()">Sign out</md-button>
    </div>
    
</div>