<h1>Welcome to the Pool</h1>


<div class="optionsContainer">
	<button ng-click="getRelatives()">Get Relatives</button>
	
	<button ng-click="getSelf()">Get my own info</button>
</div>

<div class="relativesList">
	$scope relatives:
	<ul>
	<li ng-repeat="rel in relatives track by $index">{{rel}}</li>
	</ul>
</div>


<div class="relativesChart">
	$rootScope relatives:
	<ul>
	<li ng-repeat="rel in rels track by $index">{{rel}}</li>
	</ul>
	<bars-chart chart-data="myData" ></bars-chart>
	<pool-visualization val="relatives"></pool-visualization>
</div>
