body {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lato';
}

.wholePage {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  max-height: 100%;
}

.bodyContainer {
  flex-grow: 3;
}

.sideNavContainer {
  align-self: flex-start;
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  max-height: 100%;
  margin-top: 10%;
  float: left;
  justify-content: center;
}

.side-nav-button {
  cursor: pointer;
  display: flex;
}


.dnahelixcontainer {
  max-width: 100%;
  display: inline-block;
  padding-left: 20%;
}

.dna-info {
  float: right;
  height: 30%;
  width: 40%;
  margin-top: 20%;
  border-radius: 5px;
  border: 1px;
}

#helix-path-title {
  padding-bottom: 5px;
}

#helix-path-5 {
  padding-top: 5px;
}

.snp-information {
  max-width: 70%;
  word-wrap: normal;
  -moz-box-shadow: 10px 10px 5px #888;
  -webkit-box-shadow: 10px 10px 5px #888;
  box-shadow: 10px 10px 5px #888;
  background-color: #A5D6A7;
  padding: 5px 10px 5px 10px;
}

#tooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.poolButtons {
  margin-left: 10%;
}

.view-selection {
  text-align: center;
}


.header {
  display: flex;
  justify-content: space-between;
  background-color: #34495e;
}

.footerContainer {

}

.greetings {
  padding-left: 10px;
  font-size: 32px;
  color: #D0F8FF;
}

.app-title {
  font-family: monospace, sans-serif;
  letter-spacing: 0.2em;
  color: #D0F8FF;
  text-shadow: 0 0 5px #A5F1FF, 0 0 10px #A5F1FF,
               0 0 20px #A5F1FF, 0 0 30px #A5F1FF,
               0 0 40px #A5F1FF;
}

.title{
  text-align: center;
}

.header-options {
  float: right;
}

.modal-body {
  text-align: center;
}

.modal-text {
  text-align: center;
}

svg#helix {
  position: absolute;
  margin-left: 30%;
}

/*POOL PAGE*/

svg#mainCanvas {
  position: absolute;
  margin-left: 10%;
  width: 90%;
  height: 100%;
  max-width: 90%;
  max-height: 100%;
}

#map {
  border: 1px solid #000;
}

.state {
  fill: #EEE;
  stroke: #DDD;
}

.point {
  fill: #F00;
  stroke: #f00;
}

.node {
  fill: none;
  stroke: #ccc;
  shape-rendering: crispEdges;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}