body {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0;
}

.wholePage {
  display: flex;
  flex-direction: column;
}

.dnahelixcontainer {
  max-width: 100%;
  height: 110px;
  display: block;
  text-align: center;
  margin-right: 50%;
  padding-top: 20px;
}


#tooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.poolButtons {
  margin-left: 10%;
}

.view-selection {
  text-align: center;
}

.side-nav {
  max-width: 70px;
  max-height: 100%;
}

.sideNavContainer {
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  max-width: 70px;
  max-height: 100%;
  word-wrap: normal;
  margin-top: 10%;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #34495e;
}

.greetings {
  padding-left: 10px;
  color: #D0F8FF;
}

.app-title {
  font-family: monospace, sans-serif;
  letter-spacing: 0.2em;
  color: #D0F8FF;
  text-shadow: 0 0 5px #A5F1FF, 0 0 10px #A5F1FF,
               0 0 20px #A5F1FF, 0 0 30px #A5F1FF,
               0 0 40px #A5F1FF;
}

.header-options {
  float: right;
}

.modal-body {
  text-align: center;
}

.modal-text {
  text-align: center;
}

.dna-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  margin-right: 12%;
  text-align: left;
  border-radius: 5px;
  border: 1px;
}

.snp-information {
  max-width: 100%;
  word-wrap: normal;
  -moz-box-shadow: 10px 10px 5px #888;
  -webkit-box-shadow: 10px 10px 5px #888;
  box-shadow: 10px 10px 5px #888;
  background-color: #A5D6A7;
  padding: 5px 10px 5px 10px;
}

svg#helix {
  position: absolute;
  margin-left: 20%;
}

.side-nav-button {
  cursor: pointer;
}

/*POOL PAGE*/

svg#mainCanvas {
  position: absolute;
  margin-left: 20%;
}

.pool {
  z-index: 1;
}

.mapView {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 2s; /* Firefox < 16 */
         -ms-animation: fadein 2s; /* Internet Explorer */
          -o-animation: fadein 2s; /* Opera < 12.1 */
             animation: fadein 2s;
  z-index: -1;
  background-image:url('../../static/assets/worldmap.png');
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 100%;
  height: 100%;
}

@keyframes fadein {
    from { opacity: .5; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: .5; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: .7; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}