.dnahelixcontainer {
  max-width: 100%;
  height: 110px;
  display: block;
  text-align: center;
  margin: 0 auto;
}

#snp-tip {
  position: absolute;
  width: 200px;
  height: auto;
  padding: 10px;
  background-color: white;
  border-color: #f1c40f;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

#snp-tip.hidden {
  display: none;
}

#tooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.poolView {
/*  display: flex;
  flex-direction: column;
  justify-content: center;*/
}
.poolButtons {
  margin-left: 10%;
}

.poolContainer {
  max-width: 100%;
  height: 125px;
}

.view-selection {
  padding: 20px 0px 0px 30px;
  text-align: center;
}

.side-nav {
  max-width: 70px;
  max-height: 100%;
}

.sideNavContainer {
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  max-width: 70px;
  max-height: 100%;
  word-wrap: normal;
}

.top-nav {
  margin: 0;
  width: 100%;
  height: 70px;
  padding: 0;
  position: relative;
  background-color: #f1c40f;
}

.header-options {
  float: right;
}

.modal-body {
  display: flex;
  text-align: center;
  justify-content: center;
}

.svgMap{
  width: 100%;
  height: 100%;
  margin-right: -100px;
  float: left;
}

svg{
  position: absolute;
  margin-left: 10%;
}

.pool{
}


