body {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#999999));
  background-image: -webkit-linear-gradient(top, #ffffff, #999999);
  background-image: -moz-linear-gradient(top, #ffffff, #999999);
  background-image: -o-linear-gradient(top, #ffffff, #999999);
  background-image: linear-gradient(to bottom, #ffffff, #999999);
}

.container {
  max-width: 100%;
}
.hipsterdata {
  margin-left: 10%;
  margin-right: 10%;
}
.splash {
  display: flex;
  flex-shrink: 1;
  position: relative;
  overflow: hidden;
  justify-content: center;
  width: 100%;
  padding: 40px 0px 60px 0px;
}

.splash img {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  height: auto;
  width: 100%;
  opacity: 0.8;
  transition: left 0.5s;
}

.splash h1 {
  z-index: 2;
  text-align: center;
  position: relative;
  width: 100%;
  font-family: monospace, sans-serif;
  font-size: 6em;
  letter-spacing: 0.2em;
  transition: left 0.5s;
  color: #D0F8FF;
  text-shadow: 0 0 5px #A5F1FF, 0 0 10px #A5F1FF,
               0 0 20px #A5F1FF, 0 0 30px #A5F1FF,
               0 0 40px #A5F1FF;
}

.hipsterCircles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5% 10% 5% 10%;
}

.hipsterDescriptions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.choicewords {
  word-wrap: normal;
  padding: 0px 30px 0px 30px;
  margin: auto;
}

.infoContainer {
  max-width: 100%;
  height: 500px;
}

.loginFooter {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 50px 0px;
  text-align: center;
}

.login-btn {
  max-width: 100%;
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-size: 29px;
  padding: 15px 20px 15px 35px;
  font-family: Montserrat, sans-serif;
  text-decoration: none !important;
  color: #D0F8FF;
  text-shadow: 0 0 5px #A5F1FF, 0 0 10px #A5F1FF,
               0 0 20px #A5F1FF, 0 0 30px #A5F1FF,
               0 0 40px #A5F1FF;
  opacity: 1;
  transition: all 0.3s ease 0s;
}
.login-btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
  opacity: 0.75;
  transition: all 0.3s ease 0s;
}

.parallax {
  perspective-origin-x: 100%;
}
.parallax__layer {
  transform-origin-x: 100%;
}
.parallax__layer--back {
  transform: translateZ(-1px) scale(2);
}

.parallax__layer--deep {
  transform: translateZ(-2px) scale(3);
}

.parallax_group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}


@media (max-width: 500px) {
  .splash {
    padding: 0px 0px 60px 0px;
  }
  .splash h1 {
    font-size: 3em;
    left:0;
  }
  .hipsterdata {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 0px 0px 0px 0px;
  }
  .hipsterCircles {
    display: flex;
    flex: 1 0 0;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-self: flex-start;
    margin: 0px 0px 0px 0px;
    max-width: 20%;
  }
  .hipsterCircles img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    padding-top: 20%;
    padding-bottom: 20%;
    padding-left: 10%;
  }
  .hipsterDescriptions {
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-end;
    align-content: center;
    margin-left: auto;
    width: 20rem;
  }
  .choicewords {
    padding-top: 10px;
  }

  .loginFooter {
    margin-top: 20%;
    margin-bottom: 25px;
    text-align: center;
  }
}