body{
  margin: 0;
  padding: 0;
  width: 100%;
}

h1 {
  font-family:"Arvo", sans-serif;
  font-weight:normal;
  font-size: 55px;
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 0;
}

h2 {
  font-family:"Arvo", sans-serif;
  font-weight: normal;
  font-size: 40px;
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 0;
}

h3 {
  font-family: Oswald, sans-serif;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  margin: 5px 0;
  padding: 0;
  z-index: 1;
  position: relative;
}

.center {
  margin: 0 auto;
}

.content {
  margin: 0 auto;
  width: 960px;
}

.clear {
  clear: both;
}

.dnaimage {
  width: 200px;
  height: 200px;
  margin-right: 10%;
  border-radius: 50%;
}

#header {
  width: 100%;
  background-color: black;
  height: 80px;
  position: fixed;
}

#nav {
  float: right;
  margin-top: 20px;
  margin-bottom: 20px;
}




#logo {
  color: #fff;
  text-decoration: none;
  float: left;
  font-size: 38px;
  margin-top: 20px;
  color: #fff;
  font-family: "Lato";
  font-weight: 400;
}

#nav ul{
  list-style: none;
  display: block;
  margin: 0 auto;
  list-style: none;
  font-family: "Lato";
}

#nav li{
  font-size: 20px;
  margin-top: 9px;
  float: left;
  padding-left: 28px;
}

#nav li a {
  color: #fff;
  opacity:0.6;
  text-decoration: none;
  font-family: 'Lato';
}

#nav li a.active {
  color: #fff;
  opacity:1;
  border-bottom: 2px solid #fff;
}

#nav li a:hover {
  color: #fff;
  opacity:1;
}

.quotes {
  font-family: 'Lato';
  font-size: 30px;
  text-align: left;
  margin: 50px auto;
}

.quote_subtitle_white {
  font-family: "Lato";
  font-weight: 300;
  margin: 70px 0 0 75px;
  color: #fff;
  font-size: 20px;
}

.quote_subtitle_gray {
  font-family: "Lato";
  font-weight: 300;
  margin: 70px 0 0 75px;
  color: #94a4a4;
  font-size: 20px;
}

.quotes_container {
  width: 800px;
  margin: 0 auto;
}

#slide1, #slide2{
  width: 100%;
}

#slide1{
  background:url('../../static/assets/cosmo2.jpg') 50% 0 no-repeat fixed;
  color: #fff;
  height: 600px;
  margin: 0;
  padding: 80px 0 260px 0;
  background-size: cover;
}

#slide2{
  background-color: #fff;
  color: #333333;
  height: 300px;
  margin: 0 auto;
  overflow: hidden;
  padding: 200px 0;
}

#slide3{
  background: url(../../static/assets/worldmapViolet.png) 50% 0 no-repeat fixed;
  color: #fff;
  height: 600px;
  padding: 170px 0 0 0;
  background-size: cover;
}

#slide4{
  background-color: #fff;
  color: #333333;
  height: 300px;
  padding: 200px 0;
}

#slide5{
background: url(../../static/assets/stars_1.jpeg) 50% 0 no-repeat fixed;
height: 200px;
margin: 0 auto;
padding: 250px 0;
color: #fff;
background-size: cover;
}
#copyright { color: #fff; font-family:"Wellfleet"; font-size: 14px; margin-top: 100px; text-align: center; }
#copyright a { text-decoration: none; color: #fff; }
.landingHeader {
  text-align: center;
  font-size: 100px;
  font-family: 'Lato';
}

.landingHeader p {
  margin: .5em 0 .5em 0;
}

.login-button {
  cursor: pointer;
}
.remove {
  color: white;
  cursor: pointer;
  margin-left: 40px;
}
.login-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  height: 50%;
}
.login-button {
  max-height: 50%;
  max-width: 50%;
  display: block;
}

.login-button-bottom {
  max-height: 50%;
  max-width: 50%;
  display: block;
  max-width: 200px;
  max-height: 200px;
  margin-left: 100px;
  margin-right: 100px;
  cursor: pointer;
}


.shrink {
  margin-top: -15px;
  max-width: 90px;
  max-height: 60px;
}

.circular {
  border-radius: 50%;
}