<!DOCTYPE html>
<html ng-app='genome'>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Genome Sequence Visualizer</title>
  </head>
  <body>
    <h1> ACTUAL PAGE </h1>

    <div ng-view></div>
    <a href="/#/self/" ui-sref="signup" class="button">Who am I???</a>
    <script src='../static/lib/angular/angular.js'></script>
    <script src='../static/lib/angular-route/angular-route.js'></script>
    <script src='../static/app/services/relatives.js'></script>
    <script src='../static/app/services/d3Service.js'></script>
    <script src='../static/app/self/self.js'></script>
    <script src='../static/app/pool/pool.js'></script>
    <script src='../static/app/self/self.js'></script>
    <script src='../static/app/app.js'></script>
  </body>
</html>