<!DOCTYPE html>
<html ng-app='genome'>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Genome Sequence Visualizer</title>
  </head>
  <body>
    <h1> ACTUAL PAGE </h1>
    
    <div ng-view></div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.min.js'></script>
    <script src='../static/client/app.js'></script>
  </body>

</html>