<!DOCTYPE html>
<html ng-app='genome'>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Genome Sequence Visualizer</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/mainstyles.css" />
    <!-- Angular Material styling -->
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css" />
    <link rel="stylesheet" href="../static/lib/intro.js/minified/introjs.min.css" />
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,900,300,300italic,400italic' rel='stylesheet' type='text/css'/>
  </head>

  <body ng-app="genome" ng-cloak>
  <div class="TopNavContainer">
    <dst-top-nav></dst-top-nav>
  </div>
  <div class="wholepage">
    <div class="BodyContainer">
      <div id="mapContainer">
        <div ng-view></div>
      </div>
    </div>
    <div class="sideNavContainer">
      <dst-side-nav></dst-side-nav>
    </div>
  </div>
  <div class="footer"> 
    <dst-footer></dst-footer>     
  </div>


    <script src="../static/lib/intro.js/minified/intro.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
    <!-- end of map scripts -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
    <script src="../static/lib/datamaps/dist/datamaps.world.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

    <script src="../static/lib/jquery/dist/jquery.min.js"></script>
    <script src='../static/lib/angular/angular.js'></script>
    <script src='../static/lib/angular-route/angular-route.js'></script>
    <script src='../static/lib/angular-cookies/angular-cookies.js'></script>
    <script src="../static/lib/angular-intro.js/build/angular-intro.min.js"></script>

    <!-- Angular Material requires Angular.js Libraries -->
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script> -->
    <!-- END of Angular Material Library -->
    <!-- Angular Material requires Angular.js Libraries -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
    <!-- END of Angular Material Library -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src='../static/app/tree/tree.js'></script>
    <script src='../static/app/app.js'></script>
    <script src='../static/app/auth/auth.js'></script>
    <script src='../static/app/directives/dst_top_nav.js'></script>
    <script src='../static/app/directives/dst_footer.js'></script>
    <script src='../static/app/services/relatives.js'></script>
    <script src='../static/app/services/d3Service.js'></script>
    <script src='../static/app/sidenav/sideNav.js'></script>
    <script src='../static/app/about/about.js'></script>
    <script src='../static/app/pool/pool.js'></script>
    <script src='../static/app/self/self.js'></script>
  </body>
</html>