<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/styles.css" />
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,900,300,300italic,400italic' rel='stylesheet' type='text/css'/>
    <title>Genome Sequence Visualizer</title>
  </head>
  <body>
    <!-- HEADER START -->
    <header id="header">
      <div class="content">
        <div id="logo">GENOMIE</div>
        <nav id="nav">
         <ul>
           <li class="remove" onclick="location.href='/demo/'" class="login-button">DEMO</li>
           <li class="remove" onclick="location.href='{{ auth_url }}'" class="login-button">LOG IN WITH 23andMe</li>
         </ul>
        </nav>
      </div>
    </header>
    <!--End HEADER-->
    <!-- SLIDES START -->
    <div id="slide1">
      <div class="content">
        <div class="landingHeader">
          <p>VISUALIZE</p>
          <p>YOUR GENES</p>
        </div>
        <div class="login-area">
          <img src="/static/assets/23logo2.png" align="left"/ type="button" value="Log in with 23andMe" onclick="location.href='{{ auth_url }}'" class="login-button">
          <img src="//media.indiedb.com/images/articles/1/159/158317/auto/20140509082052-Button_play.png" align="left"/ type="button" onclick="location.href='/demo/'" class="login-button">
        </div>
      </div>
    </div>
    <div id="slide2">
      <div class="content" >
        <div class="quotes_container">
          <h3 class="quotes">Learn what makes you an awesome trumpet player, or predisposed to certain addictions, or just why you hate cilantro.</h3>
          <img class="dnaimage" src="http://goo.gl/fhoyHV" align="left"/> <h4 class="quote_subtitle_gray">Analyze your own DNA</h4>
        </div>
      </div>
    </div>
    <div id="slide3">
      <div class="content">
        <div class="quotes_container">
          <h3 id="darken" class="quotes">Find distant relatives around the world. Who knows? Maybe this time next year you'll visit your 3rd cousin in Hungary. </h3>
          <img src="../static/assets/norman.png" align="left"/> <h4 id="darken" class="quote_subtitle_white">Your cousin?</h4>
        </div>
      </div>
     </div>
     <div id="slide4">
      <div class="content">
        <div class="quotes_container">
          <h3 class="quotes">“The nitrogen in our DNA, the calcium in our teeth, the iron in our blood, the carbon in our apple pies were made in the interiors of collapsing stars. We are made of starstuff.”</h3>
          <img src="../static/assets/dr-seuss.png" align="left"/> <h4 class="quote_subtitle_gray">Carl Sagan</h4>
        </div>
      </div>
     </div>
    <div id="slide5">
      <div class="content">
        <div class="quotes_container">
          <div class="login-area">
              <img src="/static/assets/23logo2.png" align="left"/ type="button" value="Log in with 23andMe" onclick="location.href='{{ auth_url }}'" class="login-button">

              <img src="//media.indiedb.com/images/articles/1/159/158317/auto/20140509082052-Button_play.png" align="left"/ type="button" onclick="location.href='/demo/'" class="login-button">
          </div>
        </div>
          <div id="copyright"><a href="//www.github.com/ThunderousFigs/Genomie">Copyright Genomie.com </a></div>
      </div>
    </div>
    <script src="../static/lib/jQuery/dist/jquery.min.js"></script>
    <script>
      $(document).ready(function() {
        $('a[href*="#"]').each(function() {
          if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'')
          && location.hostname == this.hostname
          && this.hash.replace(/#/,'') ) {
            var $targetId = $(this.hash), $targetAnchor = $('[name=' + this.hash.slice(1) +']');
            var $target = $targetId.length ? $targetId : $targetAnchor.length ? $targetAnchor : false;
            if ($target) {
              var targetOffset = $target.offset().top;
              $(this).click(function() {
                $("#nav li a").removeClass("active");
                $(this).addClass('active');
                $('html, body').animate({scrollTop: targetOffset}, 1000);
                return false;
              });
            }
          }
        });
        //cycle through quotes
        var j = 0;
        var delay = 2000; //millisecond delay between cycles
        function cycleThru(){
          var jmax = $("ul#cyclelist li").length -1;
          $("ul#cyclelist li:eq(" + j + ")")
            .animate({"opacity" : "1"} ,400)
            .animate({"opacity" : "1"}, delay)
            .animate({"opacity" : "0"}, 400, function(){
              j = (j == jmax) ? 0 : j++;
              cycleThru();
            });
         }
        cycleThru();
      });
      // scrollQuotes
      // function scrollBanner() {
      //   $(document).scroll(function(){
      //     var scrollPos = $(this).scrollTop();
      //     $('#banner-text').css({
      //       'top' : (scrollPos/3)+'px',
      //       'opacity' : 1-(scrollPos/300)
      //     });
      //     $('#banner').css({
      //       'background-position' : 'center ' + (-scrollPos/2)+'px'
      //     });
      //   });
      // }
      // scrollBanner();
    </script>
  </body>
</html>

