<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/styles.css" />
    <title>Genome Sequence Visualizer</title>
  </head>
  <body>
  <div class="container">
    <div class="topContainer">
      <div class="splash">
        <h1>Genomie</h1>
        <img src="/static/assets/jellyfish3.gif">
       <div type="button" class="testDrive test" onclick="location.href='/demo/'">Test Drive</div>
      </div>
        <div class="hipsterdata">
          <div class="hipsterCircles">
            <div class="hipsterpic"><img src="static/assets/hipDNA.png"></div>
            <div class="hipsterpic"><img src="static/assets/hipDNA.png"></div>
            <div class="hipsterpic"><img src="static/assets/hipDNA.png"></div>
          </div>

          <div class="hipsterDescriptions">
            <h2 class="choicewords lead">
            SEE a visual representation of your DNA
            </h2>
            <h2 class="choicewords lead">
            LEARN if you're predisposed to hate cilantro? Or to play the trumpet?
            </h2>
            <h2 class="choicewords lead">
            FIND and reach out to your distant relatives around the globe
            </h2>
          </div>
        </div>
      </div>
    <div class="loginFooter">
    <!-- TODO update auth url  -->
      <input class="login-btn" type="button" value="Log in with 23andMe" onclick="location.href='{{ auth_url }}'" />
    <!-- <a class="login-btn" type="button" value="Log in with 23andMe"href="/login"></a> -->
    <input class="login-btn" type="button" value="Test Drive" onclick="location.href='/demo/'" />
    </div>
  </div>
  </body>
</html>